<div class="menu-wrapper">
  <a href="#menu" class="menu-link">  Menu<span class="ico-caret-down right" aria-hidden="true"></span>
  </a>
  <nav id="menu" role="navigation">
    <div class="menu">
      <ul  class="menu">
        <div class="image-container">
          <a href="/">
            <img src="" alt="LOGO" class="profile-pic" style="height:104px; float:left; padding-left:2px;">
          </a>
        </div>
        <a>Gohantimeadventures Instagram Caption Generator</a>
        <li>
            <a href="/">Home</a>
        </li>
        <li  class=" current-menu-item">
            <a href="add-food">Add Food</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact Me</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
