<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Link JS Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="js/server.js"></script> -->
    <script type="text/javascript" src="js/hashtags.js"></script>
    <script type="text/javascript" src="js/helper.js"></script>
    <script type="text/javascript" src="js/translate.js"></script>
    <script type="text/javascript" src="js/instagram_data.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/add_food.css">

    <title>GohantimeAdventures Caption Generator</title>
  </head>
  <body>
    {{>nav}}
  	{{{body}}}
  </body>
</html>
