<div class="wrapper">
	<div class="container">
		<h1>Enter Food Term</h1>

		<form class="form" method="POST" action="/add-food" >
			<input type="text" name="eng_word" id="eng_word" placeholder="English...">
			<input type="text" name="jpn_word" id="jpn_word" placeholder="Japanese...">
			<button type="submit" id="enter-button">Enter</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
